@import url(./../kaufman/_dark-theme/kaufman_dark-theme.css);

.kaufman {
  border: 3px red solid;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
