.header__title {
  width: 730px;
  /*border: red 3px solid;*/
  z-index: 2;
  left: 64px;
  position: relative;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
