.header__main_illustration {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 765px;
  height: 608px;
  /*border: 3px solid royalblue;*/
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
