.resources__logo {
  width: 270px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 1s ease .05s;
  object-fit: fill;
}

.resources__logo:hover {
opacity: .61;
}
